/*
                                =============================
                                      Global Varibales
                                ============================== 
*/
:root {
  --main-color: hsl(235, 24%, 19%);
  --bk-color: hsl(235, 21%, 11%);
  --bk-image: url("./images/bg-desktop-dark.jpg");
  --main-Fcolor: hsl(234, 39%, 85%);
  --seconadry-Fcolor: hsl(236, 9%, 61%, 0.5);
  --border-color: hsl(234, 11%, 52%);
  --hover-color: hsl(236, 33%, 92%);
  --selection-color: hsl(235, 87%, 69%);
}
/*
                                =============================
                                        Imports
                                ============================== 
*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

/*===============================================================================================*/
/*
                                =============================
                                         General Rules
                                ============================== 
*/
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif !important;
  background-color: var(--bk-color) !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*===============================================================================================*/
/*
                                ==============================
                                        App Component
                                ============================== 
 */
.App {
  background-size: cover;
  background-image: var(--bk-image);
  height: 40vh;
}
@media (min-width: 1400px) {
  header.custom-container {
    width: 44%;
  }
}
/*===============================================================================================*/
/*
                                ==============================
                                       Home Component
                                ============================== 
*/
.home {
  margin-left: 0.5rem;
}
@media (min-width: 1200px) {
  .home {
    margin-left: 1.5rem;
  }
  .home .custom-container {
    width: 520px;
    margin-left: -42px;
  }
}
/*===============================================================================================*/
/*
                                =============================
                                       Header Component
                                ============================== 
*/
header {
  margin-top: 40px;
}

header h2 {
  letter-spacing: 12px;
}
.theme-icon {
  padding-left: 1.3rem;
}
.theme-icon i {
  color: white;
}
.theme-icon i:hover {
  color: var(--main-Fcolor);
}
/*===============================================================================================*/
/*
                                =============================
                                       Tasks Components
                                ============================== 
*/

.custom-container,
.list {
  position: relative;
}
input.task,
div.task,
input.task:focus {
  background-color: var(--main-color);
  color: var(--main-Fcolor);
  border: none;
  border-radius: 4px;
  height: 55px;
  padding-top: 1rem;
  padding-left: 3.2rem;
  padding-bottom: 1rem;
  box-shadow: none;
}
input.task::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--main-Fcolor);
  opacity: 0.5;
}
input.task:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--main-Fcolor);
  opacity: 0.5;
}
input.task::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--main-Fcolor);
  opacity: 0.5;
}
div.list {
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}
.list:first-child {
  border-radius: 4px 4px 0 0;
}
.list .check-box {
  left: 15px;
}
.check-box {
  display: inline-block;
  position: absolute;
  top: 16px;
  left: 24px;
  margin: 2px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 0.5px solid var(--border-color);
  background-color: inherit;
  cursor: pointer;
}
.checked {
  background-color: #8b94e9;
  text-decoration: line-through;
}
.task.checked span {
  opacity: 0.5;
}

.delete {
  position: absolute;
  right: 15px;
  top: 54%;
  transform: translateY(-50%);
  color: var(--seconadry-Fcolor);
  cursor: pointer;
}
.task .delete {
  display: none;
}
.task:hover .delete {
  display: block;
}
/*===============================================================================================*/
/*
                                =============================
                                       Filters on Tasks 
                                ============================== 
*/
.filters {
  background-color: var(--main-color);
  border-radius: 0 0 4px 4px;
}
div.filters *,
.hint {
  color: var(--seconadry-Fcolor);
  font-size: 0.7rem;
}

.filters button {
  padding: 0.5rem 0.5rem;
}
.filters button.selected {
  color: var(--selection-color);
  box-shadow: none;
}
.filters button:hover {
  color: var(--hover-color);
  box-shadow: none;
}
.filters button:focus {
  box-shadow: none;
}
